name: 'Code quality'

on:
    workflow_dispatch:
    push:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: lts/*
            - name: 'Code Quality'
              run: |
                  node -v
                  yarn
                  yarn prettier
                  yarn lint
                  yarn tsc
              env:
                  CURRENCY_API_ENPOINT_TOKEN: ${{ secrets.CURRENCY_API_ENPOINT_TOKEN }}
                  MONGODB_URI: ${{ secrets.MONGODB_URI }}
